/* Global Styles */

* {
    box-sizing: border-box;
    margin: 0;
    padding: 0;
  }
  
  body {
    font-family:'Franklin Gothic Medium', 'Arial Narrow', Arial, sans-serif ;
    background-color: #ecdcdb;
  }
  nav img{
    width: 80px;
    border-radius: 10px;
  }
  h1{
    margin-left: 400px;
    margin-top: 10px;
  }
  
  /* Login Form Styles */
  
  .login-form {
    width: 400px;
    background-color: #fff;
    padding: 20px;
    border: 1px solid #ddd;
    border-radius: 10px;
    box-shadow: 0 0 10px rgba(0, 0, 0, 0.1);
    margin: 20px auto;
  }
  
  .login-form h1 {
    color: #333;
    font-weight: bold;
    margin-bottom: 10px;
  }
  
  .login-form h2 {
    color: #666;
    font-weight: normal;
    margin-bottom: 20px;
  }
  
  .inputfields {
    margin-bottom: 20px;
  }
  
  .inputfields input[type="text"],.inputfields input[type="password"] {
    width: 100%;
    height: 40px;
    padding: 10px;
    border: 1px solid #ccc;
    border-radius: 5px;
    margin-bottom: 10px;
  }
  
  .inputfields select {
    width: 100%;
    height: 40px;
    padding: 10px;
    border: 1px solid #ccc;
    border-radius: 5px;
    margin-bottom: 10px;
  }
  
  .login-btn {
    width: 100%;
    height: 40px;
    background-color: #f44336;
    color: #fff;
    border: none;
    border-radius: 5px;
    cursor: pointer;
  }
  
  .login-btn:hover {
    background-color: #e53935;
  }
  
  .google-btn {
    width: 100%;
    height: 40px;
    background-color: #fff;
    color: #333;
    border: 1px solid #ccc;
    border-radius: 5px;
    cursor: pointer;
    margin-top: 10px;
  }
  
  .google-btn:hover {
    background-color: #f7f7f7;
  }
  
  .register-prompt {
    color: #666;
    font-size: 14px;
    margin-top: 20px;
  }
  
  .register-prompt a {
    color: #f44336;
    text-decoration: none;
  }
  
  .register-prompt a:hover {
    color: #e53935;
  }
  
  /* Footer Styles */
  
  footer {
    background-color: #333;
    color: #fff;
    padding: 10px;
    text-align: center;
    clear: both;
  }
  
  footer p {
    margin-bottom: 10px;
  }
  
  footer.fa-heart-o {
    color: #f44336;
  }