body {
    margin: 0;
    padding: 0;
    font-family: 'Franklin Gothic Medium', 'Arial Narrow', Arial, sans-serif;
    text-align: center; /* add this line to center align everything */
    background-color:#ecdcdb;
}

h1 {
    color: #151313;
    font-size: 24px;
    margin-bottom: 10px;
    margin-top: 180px;
    margin-left: 175px;
}

form {
    display: inline-block;
    margin-right: 20px;
}

input[type="submit"] {
    padding: 20px 20px;
    font-size: 16px;
    cursor: pointer;
    border: none;
    border-radius: 5px;
    background-color: #f44336;
    color: #fff;
    margin-top: 100px;
   
}

input[type="submit"]:hover {
    background-color: #fff;
    color: #f44336;
}

/* add this code to center align the forms */
.forms-container {
    display: flex;
    justify-content: center;
    align-items: center;
    margin-top: 50px; /* add some margin top for better visibility */
}

.forms-container form {
    margin-right: 20px;
}