* {
    box-sizing: border-box;
    margin: 0;
    padding: 0;
  }
  
  .box{
    margin-left: 100px;
    border-style: solid;
    border-color: white;
    border-radius: 10px;
    background-color: white;
    margin-right: 100px;
    border-width: 60px;
    border-bottom-width: 5px;
    border-top-width: 1px;
    border-left-width: 22px;
    padding:20px;
    font-size: 15px;
    padding-bottom: 0px;
    padding-right: 0px;
    min-height: 100vh;
}
  
#title{
    margin-top: 20px;
    margin-left: 380px;

}
.ingredients{
    border-style: solid;
    border-color: #e8dbd3;
    background-color:#e8dbd3;
}

.recipeimage {
    width: 200px; /* Adjust width as needed */
    height: 200px; /* Adjust height as needed */
   margin-bottom: 20px;
}